* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-bg: #ecb3cffb;
    --secondary-bg: #f9f8f5;
    --primary-bg-light: #ecb3cd9a;
    --primary-text: #2C3E50;
    --description-text: #053364;
    --sidebar: #efc3d3;
    --hover: #f4d0dca5;
    --bg-dark-gray-hover: rgba(242, 242, 242, 0.439);
    --bg-darker-gray-active: rgba(100, 100, 100, 0.8);
    --border-card: rgb(190 216 116);
    /* --contact-bg: #C1CFA1; */
    --contact-bg: rgba(192, 212, 136, 0.722);
    --about-bg: #c1cfa193;
    /* --light-green: #a4cec0; */
    --light-yellow: #ece3bc;
    --darkpink: #ec5f5dd7;
    --lightpink: #f9bdbcde;
    --smooth: all .3s ease-in;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--primary-text);
}

/* ---- HEADER ---- */
header {
    height: 100vh;
    width: 100%;
    background-color: var(--secondary-bg);
}

nav {
    /* border: 1px solid red; */
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: var(--primary-bg);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 10px 10%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: var(--primary-text);
    font-size: 18px;
    text-decoration: none;
    position: relative;
    padding: 3px 10px;
}

nav ul li a:active {
    background-color: rgba(128, 128, 128, 0.26);
    border-radius: 5px;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--secondary-bg);
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text {
    margin-top: 28vh;
}

.header-text h1 {
    /* border: 1px solid palegreen; */
    margin-top: 22%;
    font-size: 60px;
}

.header-text p {
    /* border: 1px solid blue; */
    font-size: 36px;
    margin-top: 30px;
}

.header-text p span {
    color: var(--darkpink);
}

/* ---- ABOUT ---- */
#about {
    scroll-margin-top: 10vh;
    background-color: var(--about-bg);
    padding: 80px 0px;
    padding: 70px 0px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    width: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    width: 60%;
}

.sub-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 60px;
}

.tab-titles {
    display: flex;
    padding: 20px 0px 30px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -4px;
    background: var(--primary-text);
    transition: 0.5s;
}

.tab-links:hover::after {
    width: 100%;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0 15px;
}

.tab-contents ul li span {
    display: inline-block;
    color: var(--darkpink);
    margin-bottom: 5px;
    /* font-size: 14px; */
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* Resume button */
/* button {
    width: 100px;
    padding: 7px 8px;
    border-radius: 5px;
    border: none;
    background-color: #4a8bf3;
    color: #F9FAF8;
    font-weight: 500;
} */

/* ---- PROJECTS ---- */
#projects {
    scroll-margin-top: 10vh;
    padding: 70px 0px;
    background-color: var(--secondary-bg);
}

.center {
    text-align: center;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.project {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.project img {
    border-radius: 30px;
    width: 100%;
    display: block;
    border: 5px solid var(--border-card);
    transition: transform 0.5s;
}

.project:hover img {
    transform: scale(1.1);
}

.layer {
    color: var(--description-text);
    width: 100%;
    height: 0;
    font-size: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, #13c8bf, #f5cbce9e);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.project:hover .layer {
    height: 100%;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    text-decoration: none;
    font-size: 17px;
}

/* ---- CONTACT  ---- */
#contact {
    width: 100%;
    background-color: var(--contact-bg);
    padding: 50px 0px;

}

#contact h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 45px;
    font-weight: 900;
}

.icon-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
}

.high5gif {
    width: 100%;
    display: flex;
    justify-content: center;
}

.high5gif img {
    display: block;
    width: 280px;
}

.icon-container a {
    color: #1F2937;
}

.icon-container i {
    font-size: 25px;
    padding: 5px;
    border-radius: 7px;
}

.icon-container i:hover {
    background-color: var(--bg-dark-gray-hover);
}

.icon-container i:active {
    background-color: var(--bg-darker-gray-active);
}

nav .fa-solid {
    display: none;
}

/* CSS for small screens */
@media only screen and (max-width: 600px) {
    .header-text {
        margin-top: 25vh;
    }
    
    .header-text h1 {
        font-size: 53px;
    }
    .header-text p {
        font-size: 30px;
    }

    nav {
        justify-content: flex-end;
        background: none;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
        cursor: pointer;
        margin-right: 20px;
    }

    nav ul {
        background: var(--sidebar);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px; 
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-xmark {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }

    #about {
        scroll-margin-top: 0;
    }

    #projects {
        scroll-margin-top: 0;
    }

    .about-col-1 {
        display: flex;
        justify-content: center;
    }
    .about-col-1 img {
        width: 90%;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .about-col-2 .sub-title {
        text-align: center;
        margin-bottom: 20px;
    }

    .about-col-2 p {
        text-align: center;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .high5gif img {
        display: block;
        width: 180px;
    }

    #contact h3 {
        font-size: 35px;
    }
}






