* {
    box-sizing: border-box;
    /* border: 1px solid black ;   */
    margin: 0;
    padding: 0;
}

.full-screen {
    width: 100vw;
    height: 100vh;
}

:root {
    --primary-bg: #ecb3cffb;
    --secondary-bg: #f9f8f5;
    --primary-text: #2C3E50;
    --active: #f6c2d4f0;
    --hover: #f4d0dca5;
    --bg-dark-gray-hover: rgba(242, 242, 242, 0.5);
    --bg-darker-gray-active: rgba(100, 100, 100, 0.8);
    --border-card: rgb(190 216 116);
    --contact-bg: #C1CFA1;
    --green: #91b0a0;
    /* --light-green: #a4cec0; */
    --off-white: #f9f8f5;
    --light-yellow: #ece3bc;
    --primary: #333333;
    --darkpink: #ec5f5dd7;
    --yellow-green: rgb(192, 212, 136);
    --lightpink: #f9bdbcde;
    --smooth: all .3s ease-in;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, serif;
    color: var(--primary-text);
}

/* ---- HEADER ---- */
header {
    position: absolute;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
    padding: 10px 30px;
    background-color: #ecb3cffb;
}

.navbar {
    /* border: 2px solid orange; */
    max-width: 1200px;
    min-width: 350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
}

.logo img {
    display: block;
    height: 100%;
    width: auto;
}

.navbar-links {
    /* border: 1px solid white; */
    width: 40%;
    min-width: 200px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navbar-links a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--primary-text);
    text-decoration: none;
    font-size: 18px;
}

.navbar-links a:hover {
    background-color: var(--hover);
    transition: 0.3s ease-in-out;;
}

.navbar-links a:active {
    background-color: var(--active);
}

/* ---- ABOUT ---- */
#about {
    /* border: 2px solid purple; */
    height: 90vh;
    background-color: var(--secondary-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 70px 100px 100px; */
}

.about-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

#description-container {
    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#description-container h1 {
    font-size: 48px;
    font-weight: 900;
}

#description-container p {
    font-size: 18px;
}

/* Resume button */
button {
    width: 100px;
    padding: 7px 8px;
    border-radius: 5px;
    border: none;
    background-color: #4a8bf3;
    color: #F9FAF8;
    font-weight: 500;
}

.img-container {
    width: 300px;
    display: flex;
    justify-content: center;
}

.img-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
} 

/* ---- PROJECTS ---- */
#projects {
    padding: 40px 0px 120px;
    /* border: 2px solid red; */
    background-color: var(--primary-bg);
}

#projects h2 {
    margin-bottom: 50px;
    font-size: 36px;
    text-align: center;
    font-weight: 900;
}

.projects-container {
    /* border: 1px solid gold; */
    display: flex;
    padding: 0px 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
}

.project-box {
    width: calc(50% - 50px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* box that contains img */
.img-box {
    border: 5px solid var(--border-card);
    border-radius: 50px;
    overflow: hidden;
    width: 100%;
}

/* project images itself */
.project-box img{
    display: block;
    width: 100%;
    height: auto;
}

/* ---- WORK EXPERIENCE ---- */
#work-experience {
    padding: 40px 0px 100px;
    background-color: var(--secondary-bg);
}

.work-container {
    height: 70vh;
    padding: 0px 100px;
}

.work-container h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}

/* ---- CONTACT  ---- */
#contact {
    /* border: 2px solid purple; */
    width: 100%;
    height: 55vh;
    background-color: var(--contact-bg);
    padding: 35px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact h2 {
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.icon-container {
    /* border: 1px solid plum; */
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.high5gif {
    /* border: 1px solid blue; */
    width: auto;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.high5gif img {
    display: block;
    height: 100%;
    width: auto;
}

.icon-container a {
    color: #1F2937;
}

.icon-container i {
    font-size: 25px;
    padding: 5px;
    border-radius: 7px;
}

.icon-container i:hover {
    background-color: var(--bg-dark-gray-hover);
}

.icon-container i:active {
    color: var(--bg-darker-gray-active);
}